<footer>
    <div class="content">
        <div class="contacts">
            <div class="contacts__title">
                <h5>Contact Us</h5>
            </div>
            <div class="contacts__info">
                <div class="social">
                    <h6>Get in touch with us</h6>
                    <article>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's
                    </article>
                    <div class="icons">
                        <a href="#"><img src="img/facebook.png" alt="our facebook"></a>
                        <a href="#"><img src="img/twitter.png" alt="our twitter"></a>
                        <a href="#"><img src="img/google.png" alt="join g+"></a>
                    </div>
                    <div class="description">
                        <div>Posted by Dospel & GanjaParker</div>
                        <div>+XX-XXXX - XXXX - XX</div>
                        <div>info@mail.com</div>
                    </div>
                </div>
                <form action="">
                    <div class="input-section">
                        <input type="text" name="name" placeholder="Name" required>
                        <input type="email" name="email" placeholder="Email"  pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
                    </div>
                    <div class="text-section"><textarea name="Message" cols="30" rows="10" placeholder="Message" minlength="2" maxlength="500" required></textarea></div>
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
</footer>


<script src="js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</body>
</html>