<header>
    <div class="content">
        <div class="header-content">
            <div class="header-content__logo"><a href="#">Author</a></div>
            <div class="header-content__nav">
                <ul>
                    <li class="nav-item active"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">Service</a></li>
                    <li class="nav-item"><a href="#">Portfolio</a></li>
                    <li class="nav-item"><a href="#">Team</a></li>
                    <li class="nav-item"><a href="#">Blog</a></li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="header-content__nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-content__mobile-nav">
                <ul>
                    <li class="nav-item active"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">Service</a></li>
                    <li class="nav-item"><a href="#">Portfolio</a></li>
                    <li class="nav-item"><a href="#">Team</a></li>
                    <li class="nav-item"><a href="#">Blog</a></li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>