@font-face {
  font-family:"lobster";
  src: url("../fonts/lobster.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"opensans regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"opensans semibold";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"myriad";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}