@media all {
  .content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  header {
    height: 100px;
    background-color: #fff;
    .header-content {
      display: flex;
      justify-content: space-between;
      height: 99px;
      &__logo {
        display: flex;
        margin: auto 0;
        a {
          font: normal 43px "lobster";
          color: $font-turquoise;
          text-decoration: none;
          cursor: pointer;
        }
      }
      &__nav {
        display: flex;
        margin: auto 0;
        ul {
          list-style: none;
          margin: 0;
          .nav-item {
            padding: 0 25px;
            display: inline-block;
            line-height: 98px;
            a {
              text-decoration: none;
              color: $font-darkGrey;
            }
          }
          .nav-item:last-child {
            padding-right: 0;
          }
          .active {
            background-color: #f8f9fb;
            border-bottom: 2px solid $font-turquoise;
            a {
              color: $font-turquoise;
            }
          }
        }
      }
      &__nav-icon {
        display: none;
      }
      &__mobile-nav {
        display: none;
      }
    }
  }
  main {
    position: relative;
    .slider {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      .slick-arrow {
        font-size: 0;
        border: none;
        height: 51px;
        position: absolute;
        width: 51px;
        top: 50%;
        z-index: 9999;
        margin-top: -9px;
        outline: none;
      }
      .slick-prev {
        background: url("../img/left-arrow.png") no-repeat;
        left: 29px;
      }
      .slick-next {
        background: url("../img/right-arrow.png") no-repeat;
        right: 29px;
      }
      img {
        max-width: 1440px;
        width: 100%;
        height: 565px;
      }
      &__some-slide {
        position: relative;
        article {
          position: absolute;
          top: 120px;
          left: 21px;
          text-align: center;
          width: 100%;
          color: $font-white;
          h2 {
            margin: 0;
            font: normal 63px "opensans semibold";
          }
          .dummy-text {
            font: normal 23px "opensans regular";
            position: relative;
            right: 22px;
            top: 19px;
            line-height: 36px;
          }
          button {
            display: block;
            border: 2px solid #fff;
            background: none;
            margin: 0 auto;
            cursor: pointer;
            outline: none;
            border-radius: 8px;
            color: $font-white;
            font: normal 26px "opensans semibold";
            position: relative;
            right: 19px;
            padding: 15px 42px;
            top: 74px;
          }
        }
      }
    }
    .content {
      .team {
        color: $font-normal;
        font: normal 14px "opensans regular";
        padding-top: 92px;
        padding-bottom: 105px;
        h5 {
          text-align: center;
          font-size: 42px;
          margin: 0 0 0 24px;
        }
        .all {
          display: flex;
          justify-content: space-between;
          margin-top: 129px;
          .team__member {
            text-align: center;
            padding: 0 15px;
            .name {
              font-size: 22px;
              margin-top: 60px;
            }
            .position {
              margin-top: 3px;
            }
            .description {
              margin-top: 25px;
              line-height: 26px;
            }
          }
        }
      }
    }
    .price {
      font: normal 14px "opensans regular";
      color: #8c9299;
      padding-top: 115px;
      padding-bottom: 100px;
      background-color: #f1f1f1;
      .content {
        .container {
          display: flex;
          justify-content: space-between;
          .price__block {
            max-width: 370px;
            width: 100%;
            text-align: center;
            border-left: 1px solid #ecf0f1;
            border-right: 1px solid #ecf0f1;
            border-bottom: 1px solid #ecf0f1;
            div {
              background-color: #fff;
              padding: 13px 0;
            }
            div:not(:last-child){
              border-bottom: 1px solid #ecf0f1;
            }
            .tariff-name {
              background-color: #485460;
              font-size: 26px;
              color: #fff;
              line-height: 34px;
              padding: 20px 0;
            }
            button {
              border: none;
              background-color: #788492;
              color: #fff;
              font: normal 17px "opensans semibold";
              cursor: pointer;
              padding: 8px 50px;
              margin-top: 15px;
              margin-bottom: 17px;
            }
            .fixed-price {
              background-color: #f8f9fb;
              font-size: 20px;
              color: #485460;
              padding: 21px 0;
            }
          }
        }
      }
    }
  }
  footer {
    background: url("../img/footer-bg.jpg") no-repeat;
    height: 684px;
    background-size: cover;
    .content {
      .contacts {
        &__title {
          padding-top: 90px;
          h5 {
            text-align: center;
            font: normal 42px "opensans regular";
            color: #fff;
            margin: 0;
          }
        }
        &__info {
          display: flex;
          justify-content: space-between;
          font: normal 14px "opensans regular";
          color: #fff;
          margin-top: 100px;
          .social {
            max-width: 450px;
            width: 100%;
            h6 {
              margin: 0;
              font-size: 24px;
            }
            article {
              color: #aaa;
              margin-top: 6px;
              margin-left: 3px;
              line-height: 20px;
            }
            .icons {
              margin-top: 38px;
              a:not(:first-child) {
                margin-left: 10px;
              }
            }
            .description {
              margin-top: 17px;
              line-height: 32px;
              div:nth-child(odd) {
                font: normal 14px "myriad";
                margin-left: 7px;
              }
              div {
                color: #bface2;
                font-size: 14px;
              }
            }
          }
          form {
            max-width: 575px;
            width: 100%;
            margin-top: 7px;
            .input-section {
              display: flex;
              justify-content: space-between;
              input {
                font: normal 14px "opensans regular";
                display: inline-block;
                max-width: 237px;
                width: 100%;
                border-radius: 3px;
                outline: none;
                border: none;
                color: $font-normal;
                height: 40px;
                padding-left: 25px;
                padding-right: 10px;
              }
              input:first-child {
                margin-right: 2px;
              }
              input:focus {
                border: none;
              }
              input:-moz-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
              input:-ms-input-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
              input::-webkit-input-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
            }
            .text-section {
              display: flex;
              textarea {
                max-width: 550px;
                width: 100%;
                resize: none;
                border-radius: 3px;
                outline: none;
                border: none;
                color: $font-normal;
                margin-top: 31px;
                height: 160px;
                font: normal 16px "opensans regular";
                padding-left: 23px;
                padding-top: 18px;
                display: block;
              }
              textarea:focus {
                border: none;
              }
              textarea:-ms-input-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
              textarea:-moz-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
              textarea::-webkit-input-placeholder {
                color: #c1c1c1;
                font: normal 16px "opensans regular";
              }
            }
            button {
              float: right;
              cursor: pointer;
              border-radius: 3px;
              border: none;
              background-color: #49cbcd;
              font: normal 22px "opensans regular";
              color: #fff;
              margin-top: 27px;
              padding: 6px 65px 13px 54px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    .header-content {
      padding: 0 15px;
    }
  }
  main {
    .slider {
      &__some-slide {
        article {
          left: 0;
          .dummy-text {
            right: 0;
          }
          button {
            right: 0;
          }
        }
      }
    }
    .content {
      .team {
        .all {
          .team__member {
            padding: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px){
  header {
    .header-content {
      &__nav {
        display: none;
      }
      &__nav-icon {
        display: block;
        width: 60px;
        height: 45px;
        position: relative;
        right: 30px;
        top: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 9px;
          width: 100%;
          background: $font-turquoise;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }
        span:nth-child(1) {
          top: 0;
        }
        span:nth-child(2) {
          top: 18px;
        }
        span:nth-child(3) {
          top: 18px;
        }
        span:nth-child(4) {
          top: 36px;
        }
      }
      .open {
        span:nth-child(1) {
          top: 18px;
          width: 0;
          left: 50%;
        }
        span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          top: 18px;
          width: 0;
          left: 50%;
        }
      }
      &__mobile-nav {
        display: none;
        position: absolute;
        z-index: 99999;
        right: 10px;
        top: 100px;
        animation: showMenu 1s ease-in-out 1;
        ul {
          list-style: none;
          margin: 0;
          background-color: #d6d6d6;
          border: 1px solid $font-turquoise;
          border-radius: 8px;
          padding: 0;
          li {
            padding: 15px 100px;
            a {
              color: $font-turquoise;
              text-decoration: none;
            }
          }
        }
      }
      @keyframes showMenu {
        0% {opacity: 0; top: -200px;}
        100% {opacity: 1; top: 100px;}
      }
    }
  }
  main {
    .slider {
      &__some-slide {
        article {
          top: 5px;
        }
      }
    }
    .content {
      .team {
        padding-bottom: 0;
        .all {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin-top: 20px;
          .team__member {
            padding: 0;
            display: inline-block;
            width: 320px;
            margin-bottom: 50px;
            .name {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .price {
      padding-top: 20px;
      padding-bottom: 0;
      .content {
        .container {
          flex-wrap: wrap;
          justify-content: space-around;
          .price__block {
            width: 320px;
            padding-bottom: 75px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  main {
    .slider {
      &__some-slide {
        article {
          h2 {
            font-size: 35px;
          }
          .dummy-text {
            font-size: 20px;
          }
          button {
            padding: 10px 35px;
            top: 40px;
          }
        }
      }
    }
  }
  footer {
    .content {
      .contacts {
        &__title {
          padding-top: 10px;
        }
        &__info {
          margin-top: 20px;
          flex-wrap: wrap-reverse;
          padding: 0 10px;
        }
      }
    }
  }
}