//= template/head.html
//= template/header.html

<main>
    <div class="slider">
        <div class="slider__some-slide">
            <img src="img/slide-1.jpg" alt="slide-1">
            <article>
                <h2>This is a main heading</h2>
                <div class="dummy-text">Lorem ipsum is simply dummy text<br>of the printing</div>
                <button>Learn More</button>
            </article>
        </div>
        <div class="slider__some-slide">
            <img src="img/slide-2.jpg" alt="slide-2">
            <article>
                <h2>This is a main heading second slide</h2>
                <div class="dummy-text">Lorem ipsum is simply dummy text<br>of the printing</div>
                <button>Learn More</button>
            </article>
        </div>
        <div class="slider__some-slide">
            <img src="img/slide-3.jpg" alt="slide-3">
            <article>
                <h2>This is a main heading third slide</h2>
                <div class="dummy-text">Lorem ipsum is simply dummy text<br>of the printing</div>
                <button>Learn More</button>
            </article>
        </div>
    </div>
    <div class="content">
        <div class="team">
            <h5>The Team</h5>
            <div class="all">
                <div class="team__member">
                    <img src="img/team-member-1.png" alt="First and second name">
                    <div class="name">Adrian Thomas</div>
                    <div class="position">CEO & Founder</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    </div>
                </div>
                <div class="team__member">
                    <img src="img/team-member-2.png" alt="First and second name">
                    <div class="name">Narate Ketram</div>
                    <div class="position">Creative Director</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    </div>
                </div>
                <div class="team__member">
                    <img src="img/team-member-1.png" alt="First and second name">
                    <div class="name">Fernando Comet</div>
                    <div class="position">CEO & Founder</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    </div>
                </div>
                <div class="team__member">
                    <img src="img/team-member-1.png" alt="First and second name">
                    <div class="name">Adedayo saheed</div>
                    <div class="position">Creative Director</div>
                    <div class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="price">
        <div class="content">
            <div class="container">
                <div class="price__block">
                    <div class="tariff-name">Basic</div>
                    <div class="fixed-price">$5.01/ Month</div>
                    <div>Lorem ipsum</div>
                    <div>Dolor sit amet, consect</div>
                    <div>Adipiscing elit</div>
                    <div>Proin commodo turpis</div>
                    <div>lacus pulvinarvel </div>
                    <div>Prnare nisi pretium.</div>
                    <div>
                        <button class="buy-now">Buy now</button>
                    </div>
                </div>
                <div class="price__block">
                    <div class="tariff-name">Pro</div>
                    <div class="fixed-price">$10.01/ Month</div>
                    <div>Lorem ipsum</div>
                    <div>Dolor sit amet, consect</div>
                    <div>Adipiscing elit</div>
                    <div>Proin commodo turpis</div>
                    <div>lacus pulvinarvel </div>
                    <div>Prnare nisi pretium.</div>
                    <div><button class="buy-now">Buy now</button></div>
                </div>
                <div class="price__block">
                    <div class="tariff-name">Premium</div>
                    <div class="fixed-price">$20.01/ Month</div>
                    <div>Lorem ipsum</div>
                    <div>Dolor sit amet, consect</div>
                    <div>Adipiscing elit</div>
                    <div>Proin commodo turpis</div>
                    <div>lacus pulvinarvel </div>
                    <div>Prnare nisi pretium.</div>
                    <div><button class="buy-now">Buy now</button></div>
                </div>
            </div>
        </div>
    </div>
</main>

//= template/footer.html


